.container {
  height: 100vh;
  position: relative;
}

.container h1 {
  margin: 0;
  padding: 10px;
}

.gridHome {
  height: calc(100% - 100px);
}

.griddy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items:  center;
}

.griddy, .griddy2 {
  gap: 2em;
  padding: 0.5em;
}

.griddy > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.griddy2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: stretch;
  align-items: stretch;
  height: calc(100% - 50px)
}

.container textarea {
  font-size: 18px;
  padding: 1em;
  /* position: absolute;
  top:0;
  bottom: 0; */
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr); */
}

.rawText {
  height: 100%;
  width: 100%;
}