

.playing {
  background-color: rgb(255, 231, 251);
}

.playable {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.playable img {
  justify-self: flex-end;
  margin-left: 10px;
}

.playable:hover {
  background-color: rgb(255, 255, 221);
}